@page "/"
@inject Services.UserServices UserServices

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <p>Welcome back @_userName</p>
    <p>Id: @_userId</p>
</AuthorizeView>

<AuthorizeView Policy="AdminModerator">
    <p>Admin and mods are equal and have no secrets</p>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <p>Or do I... :)</p>
    <p>Admin is the best!</p>
</AuthorizeView>


@code
{
    #nullable disable

    private string _userName;
    private string _userId;

    protected override async Task OnInitializedAsync()
    {
        _userName = await UserServices.GetUserNameAsync();
        _userId = await UserServices.GetUserIdAsync();
    }
}